.starRating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars {
    display: flex;
}

.star {
    font-size: 20px;
    color: #d1d5db; /* gray-300 */
}

.full {
  color: #fbbf24; /* yellow-400 */
}

.partial {
    background: linear-gradient(90deg, #fbbf24 var(--fill), #d1d5db var(--fill));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}